.bluedivision {
    /* background-color: rgb(4, 0, 255); */
    height: 500px;
    width: 50%;
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.whitedivision{
    background-color: seashell;
    height: 100px;
    width: 100px;
}
.topdivision{
    
    height: 100px;
    width: 100px;
}