






button{
    background-color: red;
    color: black;
    padding: 5px 30px;
    border: 10px groove black;


}
button:hover{
    background-color: blue;
    color: brown;
    border: 10px groove green;
    width: 300px;
    cursor: pointer;
    
}
.button1{
    display: flex;
    justify-content: center;
    align-items: center;
}
:-ms-input-placeholder{
    color: blue;
    justify-content: center;
    align-items: center;
}